<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=|DataDirectory|\hotel.db;Version=3;New=True;Compress=True;Foreign Keys=ON"/>
         </connectionStrings>
  <appSettings>
    <add key="MontoCamion" value="5000" />
  </appSettings>
</configuration>
